@keyframes bounce{
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40%{
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    80%{
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
body{
    background-color: #FFE111;
    margin: 0;
    padding: 0;
}
form{
    color: #FFFFFF;
    background-color: #000000;
    max-width: 1000px;
    height: 49.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    padding: 50px;
    border-radius: 22px;
    box-shadow: 0 0 5em rgb(100, 100, 100);

}
header{
    max-width: 500px;
    text-align: center;
}
header h1{
    font-weight: bold;
}
span a{
    color: #EBEB0E;
    text-decoration: none;
}
.box-inputs{
    text-align: center;
    max-width: 500px;
    height: 15rem;
    border: solid 1px black;
    padding-top: 10px;
}
.inputs{
    width: 290px;
    padding: 12px;
    border-radius: 15px;
}
.box-creat-account{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 500px;
    padding-left: 10px;
}
.box-sign-in{
    text-align: center;
    height: 30px;
    width: 500px;
}
.box-sign-in span a{
    cursor: pointer;
}
.box-welcome-message{
    text-align: center;
    margin-left: auto;
    margin-right: 47px;
    margin-top: -300px;
    max-width: 300px;
}
.checkbox-input{
    padding-top: 5px;
}
.checkbox-input a{
    color: #EBEB0E;
    text-decoration: none;
}
.input-name, .input-email, .input-password{
    padding: 12px;
}
.input-name:hover{
    transform: scale(1.02);
    box-shadow: 1px 1px 1px #EBEB0E;
    border-radius: 70px;
}
.input-email:hover{
    transform: scale(1.02);
    box-shadow: 1px 1px 1px #EBEB0E;
    border-radius: 70px;
}
.input-password:hover{
    transform: scale(1.02);
    box-shadow: 1px 1px 1px #EBEB0E;
    border-radius: 70px;
}
.fa-solid{
    color: rgb(235, 235, 14);
    padding-right: 5px;
}
#creat-account-button{
    font-weight: bold;
    color: #000000;
    background-color: rgb(235, 235, 14);
    text-transform: uppercase;
    cursor: pointer;
    width: 220px;
    height: 40px;
    border-radius: 15px;
}
#creat-account-button:hover{
    animation: bounce 0.7s;
}
.animation-waves-up{
    height: 180px;
    width: 1100px;
    margin-left: -50px;
    margin-top: -50px;
}
.animation-waves-up svg{
    border-radius: 20px;
}
.animation-waves-down{
    border-radius: 20px;
    height: 200px;
    width: 1100px;
    margin-left: -50.5px;
    margin-top: 210px;
}
.animation-waves-down svg{
    margin-top: -64px;
    border-radius: 20px;
}
.markup-text{
    text-transform: uppercase;
    text-decoration: none;
    color: #EBEB0E;
}
.background-theme{
    width: 150px;
    margin-left: 190px;
    margin-top: 5px;
}
.background-theme button{
    padding: 10px;
    cursor: pointer;
    background-color: rgb(235, 235, 14);
    font-weight: bold;
    border-radius: 15px;
}